# =============== #
# Unity generated #
# =============== #

Test_HC_1/Xcode/
Test_HC_1/XcodeSimulator/
Test_HC_1/Build/
Test_HC_1/Builds/
Test_HC_1/Temp/
Test_HC_1/Library/
Test_HC_1/Logs/
Test_HC_1/obj/
Test_HC_1/UnityGenerated/
--------------------------------
TD/Xcode/
TD/XcodeSimulator/
TD/Build/
TD/Builds/
TD/Temp/
TD/Library/
TD/Logs/
TD/obj/
TD/UnityGenerated/
--------------------------------
Take All/Xcode/
Take All/XcodeSimulator/
Take All/Build/
Take All/Builds/
Take All/Temp/
Take All/Library/
Take All/Logs/
Take All/obj/
Take All/UnityGenerated/
--------------------------------
Container (not URP)/Xcode/
Container (not URP)/XcodeSimulator/
Container (not URP)/Build/
Container (not URP)/Builds/
Container (not URP)/Temp/
Container (not URP)/Library/
Container (not URP)/Logs/
Container (not URP)/obj/
Container (not URP)/UnityGenerated/
--------------------------------
PL1/Xcode/
PL1/XcodeSimulator/
PL1/Build/
PL1/Builds/
PL1/Temp/
PL1/Library/
PL1/Logs/
PL1/obj/
PL1/UnityGenerated/

--------------------------------

NL/Xcode/
NL/XcodeSimulator/
NL/Build/
NL/Builds/
NL/Temp/
NL/Library/
NL/Logs/
NL/obj/
NL/UnityGenerated/
.vs/
.idea
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta

--------------------------------


Test PR(Smash)/Xcode/
Test PR(Smash)/XcodeSimulator/
Test PR(Smash)/Build/
Test PR(Smash)/Builds/
Test PR(Smash)/Temp/
Test PR(Smash)/Library/
Test PR(Smash)/Logs/
Test PR(Smash)/obj/
Test PR(Smash)/UnityGenerated/
.vs/
.idea
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta


--------------------------------

# ============= #
# IDE generated #
# ============= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DSStore?
.
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
