# =============== #
# Unity generated #
# =============== #

PL1/Xcode/
PL1/XcodeSimulator/
PL1/Build/
PL1/Builds/
PL1/Temp/
PL1/Library/
PL1/Logs/
PL1/obj/
PL1/UnityGenerated/
NL/Xcode/
NL/XcodeSimulator/
NL/Build/
NL/Builds/
NL/Temp/
NL/Library/
NL/Logs/
NL/obj/
NL/UnityGenerated/
.vs/
.idea
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta

# ============= #
# IDE generated #
# ============= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DSStore?
.
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
